#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Normalize all detected text files in the repository and check them out as LF.
* text=auto eol=lf

# Windows command scripts require/prefer CRLF.
*.bat text eol=crlf
*.cmd text eol=crlf

# Explicitly retain LF for Unix/Gradle launchers.
gradlew text eol=lf
*.sh text eol=lf

# Binary files should be left untouched
*.jar binary
